.container{
    /* background-color: blue; */
    /* background-color: var(--blueT); */
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    padding: 5px;
} 

.container:hover{
    background-color: var(--blueT);
}