.maincontainer {
  /* border: 1px solid blue; */
  width: 700px;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;

  align-self: flex-start;
  /* height: 100; */
}


/* @media screen and (max-width: 600px) {
  .maincontainer {
    width: 100%;
  }
} */
