.container{
    border: 1px solid var(--gray1);
    border-radius: 1000px;
    padding: 10px 10px;

    display: flex;
    gap: 5px;
}

.container:focus-within{
    border-color: var(--blue);
}

.searchSvgC{
    width: 20px;
    height: 20px;
}

.input{
    background-color: transparent;
    border: none;
    outline: none;
    /* border: 1px solid red; */


    flex-grow: 1;
    font-size: 1rem;

    color: white;
}